#container {
  width: 75%;
  margin: 0 auto;
  background-color: #B29C85;
  padding: 20px 40px;
  margin-top: 20px;
  
  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}
body {
  background-color: #3B424C;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
#sidebar {
	color: #CCCCDF;
   padding-left: 30px;
	width: 400px;
	border: 0;
	border-color: #1d18lf;
	background: #0C0C25;
	color: 1d181f;
	float: left;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}
#main {
    width: 100%-420px;
    float: left;
}

a {
	background: none; 
}

h1 {
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #6B5E50;
	text-shadow: 0px 2px 1px #A08C78;
}

tr {
    padding: 5px;
     -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}


.kul {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #055555;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#088888), to(#077777));
	background: -moz-linear-gradient(top,  #19E6E6,  #077777);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19E6E6', endColorstr='#077777');
}
.kul:hover {
	text-decoration: none;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#09AAAA), to(#068888));
	background: -moz-linear-gradient(top,  #09AAAA,  #068888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#09AAAA', endColorstr='#068888');
}
.kul:active {
	position: relative;
	top: 1px;
	color: #A5F6FC;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#077777), to(#19E6E6));
	background: -moz-linear-gradient(top,  #077777,  #19E6E6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#077777', endColorstr='#19E6E6');
}

.kul a {
	color: #F0F0F0;
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
	text-shadow: -1px #FFFFFF;
}

.play {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 15px/100% Arial, Helvetica, sans-serif;
	padding: .5em .4em .5em .4em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: 10em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #055555;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#088888), to(#077777));
	background: -moz-linear-gradient(top,  #19E6E6,  #077777);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19E6E6', endColorstr='#077777');
}
.play:hover {
	text-decoration: none;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#09AAAA), to(#068888));
	background: -moz-linear-gradient(top,  #09AAAA,  #068888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#09AAAA', endColorstr='#068888');
}
.play:active {
	position: relative;
	top: 1px;
	color: #A5F6FC;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#077777), to(#19E6E6));
	background: -moz-linear-gradient(top,  #077777,  #19E6E6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#077777', endColorstr='#19E6E6');
}

.play a {
	color: #F0F0F0;
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
	text-shadow: -1px #FFFFFF;
}

.del {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	padding: .4em .4em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #4C0000;
	background: #A30000;
	background: -webkit-gradient(linear, left top, left bottom, from(#A30000), to(#920000));
	background: -moz-linear-gradient(top,  #A30000,  #920000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A30000', endColorstr='#920000');
}
.del:hover {
	text-decoration: none;
	background: #A30000;
	background: -webkit-gradient(linear, left top, left bottom, from(#A30000), to(#E60000));
	background: -moz-linear-gradient(top,  #A30000,  #E60000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A30000', endColorstr='#E60000');
}
.del a {
	color: #F0F0F0;
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
	text-shadow: -1px darkred;
}



footer nav{
margin-right:13em;
}

.foot-nav{
	
	
	color: white;
	font-size: 20px;
	font-family: Georgia, serif;
	text-decoration: none;
	float: right;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
	text-align: center;
}

.foot-nav a {
	color: #B3B3B3;
	text-decoration: none;
}

.foot-nav a:hover {
	
	text-decoration: none;
	text-shadow: 0 -1px 0 #099999;
	font-stretch: wider;
	background: none; 
}


nav{
margin-right:12em;
float: right;
}

.nav {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #14143D;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#0C0C25), to(#14143D));
	background: -moz-linear-gradient(top,  #0C0C25,  #14143D);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C0C25', endColorstr='#14143D');
}
.nav:hover {
	text-decoration: none;
	background: none; 
	background: -webkit-gradient(linear, left top, left bottom, from(#0A0A1F), to(#1F1F5C));
	background: -moz-linear-gradient(top,  #0A0A1F,  #01F1F5C);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A0A1F', endColorstr='#1F1F5C');
}

.nav a {
	color: #F0F0F0;
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
	text-shadow: -1px #FFFFFF;
}

.navp {
	display: inline-block;
	background-color: #BAA691;
	text-align: center;
	font: 13px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: white;
	}

